.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    max-height: 1.5rem;
    margin: 0 1rem;
    padding: 0.5rem 0;

    p {
        margin: 0;
        padding: 0;
    }
}
