.header {
    display: flex;
    flex-shrink: 0;
    min-height: 2rem;
    margin: 0 1rem;
    padding: 0.5rem 0;

    a {
        margin: .5rem 0;
        font-size: x-large;

        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
}
