@use "variables" as v;

.main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 8.5rem);
    position: relative;
    background-color: v.$second-background;
    overflow-y: scroll;
    padding: 1rem 2rem;

    a {
        color: #e3b23c;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
        color: v.$text;
        margin: 0.8rem 0;
    }

    h2 {
        font-size: 1.7rem;
        font-weight: 500;
        color: v.$text;
        margin: 0.7rem 0;
    }

    p {
        font-size: 1.2rem;
        font-weight: 350;
        color: v.$text;
        margin: 0.5rem 0;
    }

    pre {
        background: rgb(30, 30, 49);
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-family: inherit;
        overflow: auto;

    }
    @media screen and (max-width: 600px) {
        p {
            font-size: 1rem;
        }

        h1 {
            font-size: 1.7rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }
}
