@use "variables" as v;

$height: calc(100vh - 9rem);

.content {
    height: 88vh;
    background-color: v.$second-background;
    overflow: auto;

    @media screen and (max-width: 768px) {
        overflow-x: scroll;
}

    li {
        list-style-type: decimal;
        list-style-position: outside;
        white-space: pre-wrap;
    }

    li::marker {
        background-color: v.$background;
        color: #a2acaf;
        padding-left: 1rem;
    }

    pre {
        margin: 0;
        z-index: 1;
    }
}

.result {
    resize: none;
    background-color: v.$second-background;
    color: v.$text-editor;
    padding-left: 1rem;
    outline: none;
    font-size: 14px;
}

.editor {
    resize: none;
    width: calc(100vw - 3rem);
    background-color: v.$second-background;
    color: v.$text-editor;
    padding: 1rem 1.5rem;
    outline: none;
    height: $height;
    font-size: 14px;
}
