package layout

templ Footer() {
	<footer hx-boost="true" class="flex justify-between mx-8 py-1 bg-primary">
		<a href="https://mrmiss.dev">Copyright &copy; 2024 MrMissx</a>
		<a href="/about">About</a>
	</footer>
}
