package layout

templ Footer() {
	<footer hx-boost="true" class="flex justify-between mx-8 py-1 bg-primary">
		<a href="https://mrmiss.dev" class="hover:underline hover:text-hover">Copyright &copy; 2024 MrMissx</a>
		<a href="/about" class="hover:underline hover:text-hover">About</a>
	</footer>
}
