package layout

templ Header() {
	<header hx-boost="true" class="flex flex-shrink-0 min-h-8 mx-8 py-1 justify-between bg-primary">
		<a href="/" class="text-2xl py-2">
			&lt;<span class="text-[#DDA3B2]">Stash</span><span class="text-[#E3B23C]">Bin</span>/&gt;
		</a>
	</header>
}
